body {
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    height: 100vh;
    width: 100vw;
}

#root {
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
}

.board-with-toolbar {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    height: 100%;
    width: 100%;
}

.board-toolbar {
    grid-row: 1;
    display: flex;
}

.board-toolbar>button {
    margin: 2px;
}

.board-container {
    grid-row: 2;
    /* Without these you would be able to scale up when the window resizes, but the element wouldn't scale down again. */
    min-height: 0;
    min-width: 0;
}